<!doctype html>
<html>
  <title>Substrate Streaming Example</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <body>
    <header>
      <h1>Simple Streaming Example</h1>
      <p>Click the button to stream a programming quote back from the server.</p>
    </header>
    <main>
      <button id="button">Get a quote</button>
      <article id="output"></article>
    </main>
  </body>
</html>

